

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode/

images_out/

*.zip




dataset/QM9/processed/
dataset/QM9/processed_rdkit_conformers/
dataset/QM9/geomol_predicted_qm9_structures/
dataset/QM9/processed_rdkit_conformers2/
dataset/QM9/processed_geomol_conformers/
dataset/QM9/processed_rdkit_conformers_109k/
dataset/QM9/processed_rdkit_conformers_120k/
dataset/ZINC/
dataset/ogbg*/
dataset/COLL/
dataset/QM9Geomol/
dataset/QMugs/
dataset/MASIF/
!/dataset
/dataset/*
!/dataset/QM9
!/dataset/inference_smiles.txt


.idea/

# temporary files
temp/
bsub*
stderr*
stdout*
/dataset/ZINC/
/dataset/ogbg_molhiv/
/dataset/GEOM/

runs2
!/runs
/runs/*
!/runs/PNA_qmugs_NTXentMultiplePositives_620000_123_25-08_09-19-52
